<div class="jumbotron" style="position: relative;">
  <div class="text-center">
    <h1 class="display-4">Etienne Baillif</h1>
    <p class="lead">Développeur d'application</p>
    <hr class="my-4">
    <p>Bienvenue sur mon portfolio où je partage mes projets, mon parcours et mes compétences</p>
  </div>  
  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://github.com/bobe974" target="_blank" class="">
      <img src="../../assets/github-logo.png" width="24" height="24" class="rounded-circle  me-2">
 
  </a>
  <a href="https://linkedin.com/in/etienne-baillif-8274452b3" target="_blank" class="">
      <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-2">
  </a></div>
  </div>
  