<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h2>Contact</h2>
        <p>Mail : <b>etienne.baillifpro@gmail.com</b></p>
        <p>Autre plateformes :</p>
    </div>
    <div class="list-group shadow">
        <a href="https://github.com/bobe974" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github-logo.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
        <a href="https://linkedin.com/in/etienne-baillif-8274452b3" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Linkedin</h3>
        </a>
    </div>
</div>
