/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1140px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: rgba(244, 241, 241, 0.874);
    max-width: 100px; /* Ajustez cette valeur selon vos besoins */
    white-space: nowrap; /* Empêche le texte de s'étendre sur plusieurs lignes */
     
}